*{
    outline: none;
   
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;;
}

#main-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* bottom: 0;
    right: 0; */
    background-color: rgba(0, 0, 0, .7);
}

.survey-container{
    color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#title{
    font-size: 38px;
}

#description{
    font-style: italic;
    margin-top: -10px;
    font-size: 20px;
}

#survey-form{
    width: 50%;
    margin: 20px auto;
    background-color: rgba(0, 255, 255, .3);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 0 50px 0 50px;
}

label{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

#name,
#email,
#number,
select{
    padding: 10px;
    margin-bottom: 30px;
}

::placeholder{
    font-size: 18px;
}

input,
select{
    margin-bottom: 20px;
    border-radius: 0 12px 0 12px;
    border: none;
    font-size: 18px;
    color: #777;
}

input:hover,
select:hover{
    background-color: #ccc;
}

select:focus{
    background-color: transparent;
    color: #000;
    border-bottom: 1.5px solid #fff;
}

input:focus,
textarea:focus{
    background-color: transparent;
    color: #fff;
    border-bottom: 1.5px solid #fff;
}

#check,
#radio{
    display: flex;
    /* margin-top: -10px; */
}

input[type=checkbox],
input[type=radio]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

textarea{
    resize: none;
    border-radius: 0 12px 0 12px;
    margin-bottom: 20px;
    background-color: #ddd;
    padding: 10px;
    font-size: 18px;
}

#submit{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0 12px 0 12px;
    border: 1px solid #ddd;
    background-color: rgba(0, 255, 255, .3);
    color: #fff;
    transition: all .6s ease;
    cursor: pointer;
}

#submit:hover{
    color: #000;
    background-color: #fff;
    border: 1px solid rgba(0, 255, 255, .3);
}

footer{
    background-color: #000;
    margin-bottom: -20px;
}

footer p{
    text-align: center;
    color: #fff;
    padding: 10px;
}

@media(max-width: 1000px){
    #survey-form{
        width: 60%;
    }
}

@media(max-width: 800px){
    #survey-form{
        width: 65%;
    }
}

@media(max-width: 600px){
    #survey-form{
        width: 80%;
    }

    #title{
        font-size: 34px;
    }

    #description,
    label{
        font-size: 16px;
    }

    ::placeholder{
        font-size: 14px;
    }

    #name,
    #email,
    #number,
    select{
        padding: 5px;
    }

    input[type=checkbox],
    input[type=radio]{
        width: 15px;
        height: 15px;
    }
}
